
<!-- FOOTER -->
<footer class="foot">
  <div class="footerContainer">
    <div class="socialIcoms">
      <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.google.com"><i class="fa-brands fa-google-plus"></i></a>
      <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footerNav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/search">Search</a></li>
      </ul>

    </div>
        <p class="designer">Copyright &copy;2023; <span>Recipe Sphere Capstone.</span></p>
  </div>
</footer>

  <!-- EP: Added TAILWIND CSS CDN LINK FOR SEARCH CARDS  -->
  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
