<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Check font Awesome CDN, not working properly here for the a i tag -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="styles.css">
  <title>Footer</title>
</head>

<body>
  <footer class="foot">
    <div class="footerContainer">
      <div class="socialIcoms">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.google.com"><i class="fa-brands fa-google-plus"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footerNav">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footerBottom">
      <p>Copyright &copy;2023; Design by <span class="designer">ACC bootcamp team ED.</span></p>
    </div>
  </footer>


<!-- EP: Added TAILWIND CSS CDN LINK FOR SEARCH CARDS  -->
<script src="https://cdn.tailwindcss.com"></script>
</body>

</html>
