<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recipe Sphere Header</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <!-- <script src="https://kit.fontawesome.com/827ea71b26.js" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/a73383f015.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <nav class="navbar">
    <div class="logo"><a href="/" class="logo">Recipe Sphere  
      <i class="fa-solid fa-utensils" style="color: #D4D925;"></i> 
  <!-- 
      <i class="fa-solid fa-carrot" style="color: #D4D925;"></i>
      <i class="fa-solid fa-bowl-food" style="color: #D4D925;"></i>
      <i class="fa-solid fa-drumstick-bite" style="color: #D4D925;"></i>
      <i class="fa-solid fa-cookie-bite" style="color: #D4D925;"></i>
  -->
    </a></div>
    <ul class="nav-links">
      <li><a href="/home" class="nav-link">Home</a></li>
      <li><a href="/about" class="nav-link">About</a></li>
      <li><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
    <div class="search-bar">
      <form action="/search" method="get">
        <input type="text" placeholder="Find a recipe" class="search-input" autocomplete="off" name="recipesearch" id="recipes">
        <button class="search-button" type="submit">Search</button>
      </form>
    </div>
  </nav>