<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>


  <div id="bgd">

    <div class="aboutContainer">
      <h1>Recipe Sphere</h1>
      <h3>Share a piece of home with the world.</h3>
      <p> Recipe Sphere is our capstone project brought about by Afsana Afroze. <br>Our app was brought to life by Afsana, Ed Pecson, and
        Giovanna Perez. We wanted to create a space where you can come to share and explore some of your favorite recipes!</p>
    </div>
  </div>
  <!-- FOOTER PARTIAL -->
  <br>
  <%- include ('./partials/footer.ejs') %>