<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>


  <div id="bgd">

    <div class="aboutContainer">

      <h1>Recipe Sphere</h1>
      <h3>Share a piece of home with the world.</h3>
      <p> Recipe Sphere is our capstone project brought about by Afsana Afroze. It was created by Afsana, Ed Pecson, and
        Giovanna Perez. This is a space where you can come share your favorite recipes!</p>
    </div>

    <div class="randomRecipe">
      <img src="" alt="">
      <button id="recipeButton">Random Recipe</button>

    </div>

  </div>
  <!-- FOOTER PARTIAL -->
  <br>
  <%- include ('./partials/footer.ejs') %>