<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>
  <div id="home">

    <div class="container">
     <div>
      <p class="imgText">Welcome Friends!</p>
      <p class="imgText">Happy, you are here</p>
      <form action="/search" method="/get">
        <button class="findButton">Find Recipes</button>
      </form>
     </div>
    </div>
  </div>

  <!-- FOOTER PARTIAL -->
  <br />
  <%- include ('./partials/footer.ejs') %>
