<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %> 


  <div class="container">

      <img src="/assets/homeBackground.jpeg" class="imgBack">

      <p class="imgText1">Welcome Friends!</p>
      <p class="imgText2">Happy, you are here</p>
      <button class="findButton" onclick="findRecipes()">Find Recipes</button>

  </div>






  <!-- FOOTER PARTIAL -->
  <br>
  <%- include ('./partials/footer.ejs') %>