<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>
  <div id="homeBgd">

    <div class="homeContainer">

      <p class="homeImgText1">Welcome <%= fname %>! <br>Happy, you are sphere</p>

      <form action="/search" method="/get">
        <button id="hfb1" class="homeFindButton">Find Recipes</button>
      </form>

      <form action="/recipe" method="/get">
        <button id="hfb4" class="homeFindButton">Enter Recipe</button>
      </form>
    </div>
  </div>

  <div>
    <form action="/logout" method="get">
      <button id="hfb2" class="homeFindButton">Logout</button>
    </form>
  </div>

  <br><br>
  <div>
    <form action="/delete" method="post">
      <button id="hfb3" class="homeFindButton">Delete Account</button>
    </form>
  </div>


  <!-- FOOTER PARTIAL -->
  <br />
  <%- include ('./partials/footer.ejs') %>