<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>

<!-- landing page/ ROOT ROUTE -->
<div id="landing">
  <div class="landingContainer">
    <div>
      <p class="landingText">Welcome Friends! <br>Happy, you are Sphere</p>
  
      <!-- LOGIN BUTTON -->
      <form action="/login" method="/get">
        <button class="landingfindButton" id="fb1">Log In</button>
      </form>

      <!-- SIGN UP BUTTON -->
      <form action="/signup" method="/get">
        <button class="landingfindButton" id="fb2">Sign Up</button>
      </form>

    </div>
  </div>
</div>

<!-- FOOTER PARTIAL -->
<br />
<%- include ('./partials/footer.ejs') %>
