<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %>

<!-- landing page/ ROOT ROUTE -->
<div id="home">
  <div class="container">
    <div>
      <p class="imgText">Welcome Friends!</p>
      <!-- <p>Welcome Friends!</p> -->
      <p class="imgText">Happy, you are Sphere</p>
    </div>
    <!-- <p>Happy, you are Sphere</p> -->
    <!-- LOGIN BUTTON -->
    <div>
      <form action="/login" method="/get">
        <button class="findButton" id="fb1">Log In</button>
      </form>
      <!-- SIGN UP BUTTON -->
      <form action="/signup" method="/get">
        <button class="findButton" id="fb2">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER PARTIAL -->
<br />
<%- include ('./partials/footer.ejs') %>
