<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %> 

    <div id="loginbgd">
        <div class="loginContainer">

            <!-- <img src="assets/logInBackground.jpg" alt="login"> -->
            <h1 class="text1">Recipe Sphere</h1><br><br>
            <h1 class="text2">Login</h1>
            
            <div class="form1">
            <form action="/login" method="post">
                <div class="formlabel">
                    <label for="username">Username</label>
                <div class="forminput">
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="formlabel">
                <label for="password">Password</label>
                </div>
                <div class="forminput">
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
                <button class="btn1" type="submit">Login</button>
                <button class="btn2" type="submit">Sign Up</button>
            </div>
            </form>
            </div>
        </div>
    </div>


  <!-- FOOTER PARTIAL -->
  <br>
  <%- include ('./partials/footer.ejs') %>
