<!-- HEADER PARTIAL -->
<%- include ('./partials/header.ejs') %> 


 <!-- ***  EP: THIS IS FOR THE POP UP ALERT WHEN LOGIN IS NOT SUCCESSFUL *** -->
  <!-- Include SweetAlert2 CSS and JavaScript -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const queryParams = new URLSearchParams(window.location.search);
      if (queryParams.get('success') === 'false') {
        // Display a pop-up alert using SweetAlert2
        Swal.fire({
          title: 'Invalid email or password!',
          showConfirmButton: false,
          timer: 2000 // Display for 2 seconds
        });
      }
    });
  </script>

<script src="https://kit.fontawesome.com/a73383f015.js" crossorigin="anonymous"></script>

<div id="loginbgd">
    <!--container div holds image, form-box div holds form for sign up and login-->
    <div class="lcontainer">
        <div class="lform-box">
            <!-- <h1 id="title">Sign Up</h1> -->
            <h1 id="title">Login</h1>
            <form class="lform" action="/login" method="post">
                <div class="linput-group">
                    <!-- <div class="linput-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name">
                    </div> -->

                    <div class="linput-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="inp" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="linput-field">
                        <i class="fa-solid fa-lock"></i>
                        <input class="inp" type="password" name="password" placeholder="Password">
                    </div>
                    <!--add p tag for message & add link to reset user password-->
                    <p>Forgot password <a href="#">Click Here!</a></p>
                </div>
                <!--add button for sign up and login for user click & add id for click function-->
                <div class="lbtn-field">
                    <!-- Change the type to "submit" -->
                    <button type="submit" id="loginBtn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let loginBtn = document.getElementById("loginBtn");
        // Change the title
        title.innerHTML = "Login";    
</script>

<!-- FOOTER PARTIAL -->
<br>
<%- include ('./partials/footer.ejs') %>
