/* Margin for the entire web page is 0 and font is set to arial  */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styles nav bar */
.navbar {
  display: flex;
  /* makes nav bar flex */
  justify-content: space-between;
  /* even distribution */
  align-items: center;
  padding: 10px 20px;
}

/* Styles the logo */
.logo {
  color: #990000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s;
  list-style: none;
  display: flex;
}

/* styles the all nav links in our ul */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

/* styles the individual nav links */
.nav-link {
  color: #FF5B00;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

/* changes color of route when hovered */
.nav-link:hover {
  color: #D4D925;
}

/* styles the search bar */
.search-bar {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

/* styles the serch input */
.search-input {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* styles the search button */
.search-button {
  background-color: #FFEE63;
  border: 2px solid #990000;
  border-radius: 5px;
  color: #990000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* changes the search button styles when hovered */
.search-button:hover {
  background-color: #990000;
  color: #D4D925;
}

/* smaller screen specifications */
@media (max-width: 768px) {
  .logo {
      justify-content: center;
      width: 100%;
      padding: 2px 0;
      text-align: left;
  }
  
  .search-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; 
      margin-top: 5px; 
  }
  
  .search-input {
      width: 50%;
      max-width: 100px;
  }

  .search-button {
      width: 50%; 
      max-width: 100px;
      margin-top: 5px;
  }
}

/* This styling will be used for the Landing.ejs pages */
/* use container div class as relative to get css four properties and use flex and fix the width & height*/

/* the image will be scaled to cover the entire container while maintaining its aspect ratio */
#landing {
  background-image: url('/assets/landingBackground.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  box-sizing: border-box;
}

.landingContainer {
  display: flex;
  justify-content: end; 
  width: 500px;
  height: 700px;
}


.landingText {
  color: #D4D925;
  font-size: 3.6em;

  font-weight: bold;
  text-align: right;
  position: absolute;
  top: 37%; 
  transform: translateY(-50%); 
  right: 10%; 
}

/*manage find button class: absolute- position it freely within its nearest positioned ancestor., 
 and positions the element 45% down from the top edge of its containing block  */
#fb1 {
  right: 10%;
}

#fb2 {
  right: 17%;
}

/*manage find button class: absolute- position it freely within its nearest positioned ancestor., 
 and positions the element 45% down from the top edge of its containing block  */
.landingfindButton {
  position: absolute;
  top: calc(50% + 2vw);
  transform: translateX(-50%);  
  padding: 1vh 1vw;
  border-radius: 5px;
  color: white;
  background-color: #990000;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.3vw;
}

/* findButton class for user hover */
.landingfindButton:hover {
  color: darkslategrey;
  background-color: #82CD47;
}
/* Landing CSS ENDS */

/* FOOTER CSS Begins */
/* location of footer and set all properties */
.foot {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #453e34;
}

.footerContainer {
  width: 100%;
  padding: 15px 30px 15px;
}

.socialIcoms {
  display: flex;
  justify-content: center;
}

.socialIcoms a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.socialIcoms a i {
  font-size: 2em;
  color: #000000;
  opacity: 0.9;
  transition: color 0.5s;
}

/* Hover Effects on soical media icons*/
.socialIcoms a:hover {
  background-color: #D4D925;
  transition: 0.5s;
}

/* Hover Effects on social media icons */
.socialIcoms a:hover {
  background-color: transparent; /* Background color disappears on hover */
}

.socialIcoms a:hover i {
  color: white; 
}

.footerNav {
  margin: 20px 0;
  color: #FF5B00;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bolder;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  color: rgb(255, 183, 0);
}

.designer {
  color: rgb(230, 218, 218);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

/* make responsive for other device like mobile. use media query: Media queries allow you to apply CSS styles depending on a device's*/
@media (max-width:700px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/* FOOTER CSS ENDS HERE */

/* About Styling Begins Here */
.aboutContainer{
  padding: 15% 10% ;
  text-align: center;
  margin-left: 30%;
}
.aboutContainer h1 {
  color: #FFEE63;
  font-size: 4.5vw;
  font-weight: bold;
  margin-bottom: 2%;
}

.aboutContainer h3 {
  color: #FFA500;
  font-size: 2vw;
}

.aboutContainer p {
  font-size: 1.8vw;
  margin: 5% 10%;
  color: #22AD1F;
}

#bgd {
  background-image: url('/assets/aboutBgd.jpg');
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
}

/* About Styling ENDS Here */


/* SEARCH PAGE STYLING */
.search-container {
  background-image: url("/assets/searchBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login page CSS from here */

/* add login div adj with css properties */
.loginContainer {
  position: relative;
  display: flex;
  justify-content: left;
  height: 100vh;
  text-align: center;
/*   top: 40px; */
}

/* adj img CSS properties */
img {
  width: 100%;
  height: 100%;
  left: 0%;
  object-fit: cover;
}

/* added login page background image Url */
#loginbgd {
  background-image: url("./assets/logInBackground.jpg");
  /* background: no-repeat;*/
  /* object-fit: cover; */
  background-size: cover;
}

/* adj text inside image */
.text1 {
  position: absolute;
  top: 30%;
  left: 50%;
  color: #990000;
  font-family: 'Courier New', Courier, monospace;
}

/* adj text inside image */
.text2 {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #990000;
  font-family: 'Courier New', Courier, monospace;
}

/* adj form & label and button */

.form1 {
  position: absolute;
  margin-top: 300px;
  width: 100%;
  left: 50%;
  max-width: 500px;
  text-align: center;
}

.formlabel {
  display: block;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /*color: rgb(196, 45, 45);*/ /* Change label color to white */
  color:#F0FF42;
  margin-bottom: 1px;
  text-align: left;
}

.forminput {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px;
  background-color: #fbfbe7; 
}

.btn1 {
  background-color: #F0FF42;
  color: black;
  top: 160px;
  left: 25%;
  padding: 10px 45px;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add transition properties */
}

.btn1:hover {
  background-color: #82CD47; /* Change background color on hover */
  color: green; /* Change text color on hover */
}

.btn2{
  background-color: #990000;
  color: black;
  top: 260px;
  left: 25%;
  padding: 3px 40px;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Add transition properties */
}

.btn2:hover {
  background-color: lightgreen;
  /* Change background color on hover */
  color: green;
  /* Change text color on hover */
}

/* Sign Up Page CSS Starts Here */
#signupBgd {
  background-image: url('/assets/signupBgd.jpg'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh; 
}

.signupHeader {
  color: #FFEE63;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}

.signupHeader2 {
  color: #FF5B00;
  font-size: 48px;
  text-align: center;
  margin: 10px 0;
}

.signup-form {
  width: 100%; 
  margin: 20px auto;
  padding: 20px;
}

.signup-form h2 {
  color: #82CD47;
  font-size: 24px;
  text-align: center;
  margin-bottom: 3%;
}

.signup-form label {
  display: block;
  margin-bottom: 2%;
}

.signupFormDetails {
  width: 100%;
  margin: 15px auto;
  max-width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .signupFormDetails {
      width: 90%; 
  }
}

/* contact form input and text area css properties*/


.-form input,
.signup-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #990000;
  outline: none;
}

/* text area resize*/
.signup-form textarea {
  resize: vertical;
}

/* user submit button CSS properties */
.signup-form button {
  background-color: #990000;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.signupBtn:hover {
  color: #22AD1F;
  background-color: #FFA500;
}
/* HOME PAGE CSS START */

/* HOME PAGE BGD */
#homeBgd {
  background-image: url('/assets/homeBackground.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
}

.homeImgText1 {
  padding: 10%;
  margin-left: 25%;
  color: #FFEE63;
  font-size: 4vw;
  font-weight: bold;
}

.homeFindButton {
  padding: 1.5vh 3vw;
  border-radius: 5px;
  color: white;
  background-color: #FF5B00;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.5vw;
}

.homeFindButton:hover {
  color: #990000;
  background-color: #D4D925;
}

#hfb1 {
  position: relative;
  top: calc(25% + 2vw);
  left: 40%;
}

#hfb2 {
  position: fixed;
  top: calc(90% + 2vw);
  right: 10%;
  transform: translateX(-50%); 
  font-size: 1.0vw;
  padding: 1.0vh 1.5vw;
}

#hfb3 {
  position: fixed;
  top: calc(90% + 2vw);
  right:0%;
  transform: translateX(-20%);
  font-size: 1.0vw;  
  padding: 1.0vh 1.5vw;
}


/* LOGIN PAGE BOX STYLING */
/* give container css properties for background*/
.lcontainer {
  width: 100%;
  height: 100vh;
  background-image:  url("./assets/logInBackground.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
/* adj form box position, width, height and background color with text alignment and 
  adj padding:top- 50px,left+right- 60px, button- 70px. transform: translate(-50%, -50%); for center */
.lform-box {
  width: 90%;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #534138;
  padding: 50PX 60PX 70PX;
  text-align:center
}
/* for h1 sign up header style to adj position, font, margin, color, position*/
.lform-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #4a7b39;
  position: relative;
}
/* ::after. In CSS, ::after creates a pseudo-element that is the last child of the selected element, content empty, width, height */
.lform-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #3c00a0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);   /* adj underline */
}
/*adj input field with background, and adj for- in the same horizontal line  */
.linput-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
/*add maxHeight to hide html element using js function */
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}
/* adj input for full width using css properties, and padding space inside imput box*/
.inp {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}
/* adj imput elements icons- color using imput class with i tag*/
.linput-field i{
  margin-left: 15px;
  color: #990000;
}
/* adj forgot message with link css properties */
.lform p{
  text-align: left;
  font-size: 13px;
}
/* adj link a tag css*/
.lform p a{
  text-decoration: none;
  color: #D4D925;
}
/* adj button field using CSS properties*/
.lbtn-field{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* adj button for sign up & login*/
.lbtn-field button{
  flex-basis: 48%;
  background: #5c7b33;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  
}
/* adj input field between button spacing*/
.linput-group{
  height: 280px;
}
/*adj second button to look disable */
.lbtn-field button.disable{
  background: #eaeaea;
  color: #555;
}

/*Contact page CSS Style for image and form */
.main{
    width: 100%;
    height: 100vh;
    background-image:  url("./assets/contactBgd.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.textContainer {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  top: 5%;
  left: 35%;
  text-align: center;
 
}
.textContainer h2 {
  margin: 2%;
  font-size: 3vw;
  font-weight:bolder;
  font-style:calc();
  color: #F0FF42;
  font-smooth: always; /* Apply font smoothing */
}
.textContainer p {
  margin: 0%;
  font-size: 1.8vw;
  color: #54B435;
  font-weight: bolder;
  font-style:calc();
  font-smooth: always; /* Apply font smoothing */
}
/* adj css for question text and question icons*/
.ques {
  /* display:inline-block; */
  border: 3px solid red;
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 3vw;
  color: #54B435;
  font-family:cursive;
}

/*.... question icon source: https://fontawesome.com/search?q=question&o=r */
/* adj css properties for question icons */
.question-icon1 {
  font-size: 5vw; /* Adjust font size as needed */
  font-weight: bold;
  color: #D4D925;
  left: 80px;
  bottom: 195px;
  transform: rotate(-20deg);
}
.question-icon2 {
  font-size: 5vw; /* Adjust font size as needed */
  font-weight: bold;
  color: #FF5B00;
  left: 255px;
  bottom: 245px;
  transform: rotate(8deg);
}
.question-icon3 {
  font-size: 5vw; /* Adjust font size as needed */
  font-weight: bold;
  color: #990000;
  left: 30%;
  bottom: 110px;
  transform: rotate(30deg);
}
/* form */
/* Contact form for user input*/
.contact-form {
 
  
  
}

.contact-form label {
  display: block;
  margin-bottom: 1px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 2%;
  margin-bottom: 5%;
  box-sizing: border-box;
  border: 3px solid black;
  outline: none;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  background-color: #990000;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 5px;
  border-color: #040D12;
  cursor: pointer;
}




/* STYLING FOR 404 EMOJI

/* Center the container */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
  
  /* Style for the sad emoji image */
.sad-emoji {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    animation: bounce 1s infinite alternate;
}
  /* add p text style */
.p404 > p {
    color: red;
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
}

  /* Animation keyframes */
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
}
  
